---
import "@fontsource-variable/arimo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles.css" />
    <title>Kevin Zapata - Portafolio</title>
    <style>
      body {
        font-family: "Arimo Variable", sans-serif;
      }
    </style>
  </head>
  <body class="bg-slate-950">
    <!-- BACKGROUND -->
    <div class="container-bg">
      <div class="bubbles">
        <span style="--i:11;"></span>
        <span style="--i:4;"></span>
        <span style="--i:32;"></span>
        <span style="--i:15;"></span>
        <span style="--i:6;"></span>
        <span style="--i:17;"></span>
        <span style="--i:9;"></span>
        <span style="--i:2;"></span>
        <span style="--i:18;"></span>
        <span style="--i:23;"></span>
        <span style="--i:14;"></span>
        <span style="--i:9;"></span>
      </div>
    </div>

    <main
      class="md:grid md:grid-cols-12 xl:mx-48 md:mt-48 border-red-900 px-6 md:px-0"
    >
      <!--CARD SECTION -->
      <section class="md:col-span-4 md:flex md:justify-end z-20">
        <div
          class="sticky top-10 flex items-center gap-4 min-w-full md:min-w-fit justify-start flex-col text-normalText md:text-black md:bg-normalTitle max-w-fit h-fit p-6 md:rounded-lg"
        >
          <img
            src="/icons/pfp.webp"
            class="md:rounded-md md:h-64 h-32 rounded-full"
          />
          <h2 class="text-6xl md:text-4xl text-center">Kevin Zapata</h2>
          <span>Currently an IT engineer student</span>
          <!-- ICONS -->
          <div class="flex gap-2 filter invert md:invert-0 mt-6">
            <a href="https://www.linkedin.com/in/zaokdev/" target="_blank"
              ><img
                class="h-14 md:h-10"
                src="https://cdn-icons-png.flaticon.com/512/61/61109.png"
              /></a
            >
            <a href="https://github.com/zaokdev" target="_blank"
              ><img class="h-14 md:h-10" src="icons/github.png" /></a
            >
          </div>
        </div>
      </section>

      <!--MAIN SECTIONS -->
      <section class="col-span-8 min-h-screen md:px-12 z-20">
        <h2
          class="text-normalTitle text-5xl text-center md:text-start md:text-6xl lg:text-8xl"
        >
          <strong class="text-emphasisTitle">WEB</strong><br />DEVELOPER
        </h2>
        <p
          class="text-center md:text-left text-normalText md:pr-8 text-2xl mt-6"
        >
          Web developer specializing in turning complex ideas into
          high-performance and user-friendly web solutions.
        </p>
        <div class="flex flex-wrap mt-12 justify-center md:justify-start gap-4">
          <img
            src="icons/fundamentals.png"
            alt="HTML, CSS & JavaScript"
            class="h-32"
          />
          <img src="icons/react.png" alt="React.js" class="h-32 md:mt-24" />
          <img src="icons/python.webp" alt="Python" class="h-32" />
          <img
            src="icons/nodejs-image.webp"
            alt="NodeJS"
            class="h-32 md:mt-24"
          />
        </div>

        <h2
          class="text-normalTitle text-5xl md:text-6xl lg:text-8xl mt-12 text-center md:text-left"
        >
          <!-- LATEST PROJECTS -->
          <strong class="text-emphasisTitle z-20">LATEST</strong><br />PROJECTS
        </h2>

        <!-- CRYPTOMETER -->

        <div
          class="bg-slate-700 flex-col items-center lg:flex-row transition-colors w-full p-8 rounded-lg flex justify-start md:justify-between gap-12 mt-12 z-20"
        >
          <img
            src="/projects/cryptometer-main.png"
            alt="cryptometer"
            class="min-w-1/2 md:w-1/2 h-72 rounded-lg object-cover"
          />
          <div
            class="text-normalTitle self-start flex flex-col h-fit lg:h-72 justify-between"
          >
            <div>
              <h3 class="text-normalText text-3xl font-bold">CryptoMeter</h3>
              <p class="text-lg">
                Cryptocurrencies price tracker with detailed data and
                authentication features.
              </p>
            </div>

            <a
              href="https://crypto-meter-vwbd-kevinzaoks-projects.vercel.app/"
              target="_blank"
              class="p-4 bg-purple-700 hover:bg-purple-900 transition-colors rounded-md font-bold mt-3 md:mt-0 text-center"
              >Explore Now</a
            >
          </div>
        </div>

        <!-- CITYA -->

        <div
          class="bg-slate-700 flex-col items-center lg:flex-row transition-colors w-full p-8 rounded-lg flex justify-start md:justify-between gap-12 mt-12 z-20"
        >
          <img
            src="/projects/citya-main.png"
            alt="cryptometer"
            class="min-w-1/2 md:w-1/2 h-72 rounded-lg object-cover object-left"
          />
          <div
            class="text-normalTitle self-start flex flex-col h-fit lg:h-72 justify-between"
          >
            <div>
              <h3 class="text-normalText text-3xl font-bold">Citya</h3>
              <p class="text-lg">
                Find real time weather information of your city, powered by
                OpenWeather API. (Internal API running in Free tier of Render,
                it may take a while to load)
              </p>
            </div>

            <a
              href="https://citya-frontend.vercel.app/"
              target="_blank"
              class="p-4 bg-purple-700 hover:bg-purple-900 transition-colors rounded-md font-bold mt-3 md:mt-0 text-center"
              >Explore Now</a
            >
          </div>
        </div>

        <!--FERRETERIA DEL MERCADO -->
        <div
          class="bg-slate-700 flex-col items-center lg:flex-row transition-colors w-full p-8 rounded-lg flex justify-start md:justify-between gap-12 mt-12 z-20"
        >
          <img
            src="/projects/ferre.png"
            alt="ferreteria del mercado"
            class="min-w-1/2 md:w-1/2 h-72 rounded-lg object-cover"
          />
          <div
            class="text-normalTitle self-start flex flex-col h-fit lg:h-72 justify-between"
          >
            <div>
              <h3 class="text-normalText text-3xl font-bold">Ferre Mercado</h3>
              <p class="text-lg">
                Landing page with real time promotion images with Cloudinary.
              </p>
            </div>

            <a
              href="https://ferre-frontend.vercel.app/"
              target="_blank"
              class="p-4 bg-purple-700 hover:bg-purple-900 transition-colors rounded-md font-bold mt-3 md:mt-0 text-center"
              >Explore Now</a
            >
          </div>
        </div>

        <!--FORM -->
        <h2
          class="text-normalTitle text-5xl text-center md:text-left md:text-8xl mt-12"
        >
          <strong class="text-emphasisTitle">CONTACT</strong><br />ME
        </h2>

        <form
          class="flex flex-col gap-2 text-normalText md:py-12 md:pr-12 md:pl-2 rounded-xl"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="37e26e55-8a9e-4216-bd87-54ebf55868fd"
          />
          <input
            type="hidden"
            name="subject"
            value="New Contact Form Submission from Web3Forms"
          />
          <input type="hidden" name="from_name" value="Portfolio Email Form" />
          <!-- More custom ization options available in the docs: https://docs.web3forms.com -->

          <label for="name" class="text-2xl">Name</label>
          <input
            id="name"
            name="name"
            class="p-2 rounded-xl bg-slate-800 focus:bg-slate-700 hover:bg-slate-700 outline-none"
            placeholder="Your name"
            type="text"
            required
            autocomplete="off"
          />

          <label for="email" class="text-2xl">Email</label>
          <input
            id="email"
            name="email"
            class="p-2 rounded-xl bg-slate-800 focus:bg-slate-700 hover:bg-slate-700 outline-none"
            placeholder="Your email"
            type="email"
            required
            autocomplete="off"
          />

          <label for="phone" class="text-2xl">Phone</label>
          <input
            id="phone"
            name="phone"
            class="p-2 rounded-xl bg-slate-800 focus:bg-slate-700 hover:bg-slate-700 outline-none"
            placeholder="+1 (234) 56789"
            type="text"
            autocomplete="off"
          />

          <label for="message" class="text-2xl">Message</label>
          <textarea
            class="p-2 rounded-xl bg-slate-800 focus:bg-slate-700 hover:bg-slate-700 outline-none"
            id="message"
            name="message"
            placeholder="Your message"
            required
            autocomplete="off"></textarea>

          <button
            class="text-xl text-white hover:bg-indigo-800 transition-colors bg-indigo-600 rounded-xl max-w-fit px-6 mt-2 py-4"
            type="submit">Send Message</button
          >
        </form>
      </section>
    </main>
    <img src="sonic.gif" class="hidden md:block md:fixed bottom-0 h-8" />
  </body>
</html>
