---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kevin Zapata - Portafolio</title>
	</head>
	<body class="bg-slate-950">
		 <!--CARD SECTION --> 
		<main class="bg-slate-950 md:grid md:grid-cols-12 md:mx-48 border mx-auto mt-12">
			<section class="md:col-span-4 md:flex md:justify-end">
				<div class="sticky top-10 border flex items-center justify-start flex-col text-black bg-slate-50 max-w-fit h-fit p-8 rounded-lg">
					<img src="https://placehold.co/250" class="rounded-full">
					<h2>Kevin Zapata</h2>
				</div>
			</section>
	
			<!--MAIN SECTIONS -->
			<section class="col-span-8 min-h-screen px-12">
				<h1 class="text-normalTitle text-8xl"><strong class="text-emphasisTitle">Frontend</strong><br>Developer</h1>
				<p class="text-normalText pr-8 text-2xl mt-6">Web development enthusiast, focused on efficient and functional layout. Skilled in transforming concepts into fast and effective websites.</p>
				<div class="flex">
					<img src="icons/fundamentals.png" alt="HTML, CSS & JavaScript" class="h-32">
					<img src="icons/react.png" alt="React.js" class="h-32">
					<img src="icons/ts.png" alt="Typescript" class="h-32">
					<img src="icons/nextjs.png" alt="Next.js" class="h-32">
				</div>
			</section>	
		</main>
	</body>
</html>
